body{
    margin: 0;
    padding: 0;
}
header{
    display:flex;
}
header>.one{
    display: flex;
    gap:768px;
    height: 131px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
header>.one>h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    margin-left: 150px;
}
header>.one>button{
    width: 244px;
    height: 57px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main>.two{
    display: flex;
    width: 100%;
    justify-content: center;
}
main>.two>.img1{
    height: 100%;
    width: 100%;
    position: relative;
}
main>.two>.img2{
    position: absolute;
    width: 173.03px;
    height: 228.9px;
    margin-top: 26px;
}
main>.two>.three{
    position: absolute;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 272px;
    width: 998px;
}
main>.two>.four{
    position: absolute;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 432px;
    width: 852px;
}
main>.two>.btn1{
    position: absolute;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin-top: 516px;
    width: 244px;
    height: 65px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 45px;
}
main>.five{
    display: flex;
    flex-direction: column;
    margin-top: 154px;
    width: 100%;
}
main>.five>.six{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:24px
}
main>.five>.six>.seven{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
}
main>.five>.six>.eight{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
main>.five>.nine{
    display:flex;
    margin-top: 96px;
    align-items: center;
    justify-content: center;
    gap:98.83px;
}
main>.five>.nine>.ten{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 477px;
    height: 219px;
}
main>.five>.nine>.ten>.eleven{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    width: 390px;
    height: 72px;   
}
main>.five>.nine>.ten>.twelve{
    margin-top: 16px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    width: 468px;
    height: 52px;   
}
main>.five>.nine>.ten>.btn2{
    margin-top: 32px;
    width: 171px;
    height: 47px;
    justify-content: center;
    align-items: center;
    color:rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
}
main>.five>.thirteen{
    display:flex;
    margin-top: 128px;
    align-items: center;
    justify-content: center;
    gap:98.83px;
}
main>.five>.thirteen>.fourteen{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 477px;
    height: 219px;
}
main>.five>.thirteen>.fourteen>.fifteen{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    width: 390px;
    height: 72px;   
}
main>.five>.thirteen>.fourteen>.sixteen{
    margin-top: 16px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    width: 468px;
    height: 52px;   
}
main>.five>.thirteen>.fourteen>.btn3{
    margin-top: 32px;
    width: 171px;
    height: 47px;
    justify-content: center;
    align-items: center;
    color:rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
}
main>.five>.seventeen{
    display:flex;
    margin-top: 128px;
    align-items: center;
    justify-content: center;
    gap:98.83px;
}
main>.five>.seventeen>.eighteen{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 477px;
    height: 219px;
}
main>.five>.seventeen>.eighteen>.nineteen{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    width: 390px;
    height: 72px;   
}
main>.five>.seventeen>.eighteen>.twenty{
    margin-top: 16px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    width: 468px;
    height: 52px;   
}
main>.five>.seventeen>.eighteen>.btn4{
    margin-top: 32px;
    width: 171px;
    height: 47px;
    justify-content: center;
    align-items: center;
    color:rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
}
main>.twenty1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 170px;
    gap: 24px;
}
main>.twenty1>.twenty2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
}
main>.twenty1>.twenty3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    width: 852px;
    height: 52px;
}
main>iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin-top: 80px;
}