body{
    margin: 0;
    padding: 0;
}
header{
    display:flex;
}
header>.one{
    display: flex;
    gap:768px;
    height: 131px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
header>.one>h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    margin-left: 150px;
}
header>.one>button{
    width: 244px;
    height: 57px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
}
main{
    display: flex;
    flex-direction: column;
}
main>.two{
    display: flex;
    width: 100%;
    justify-content: center;
}
main>.two>.img1{
    height: 100%;
    width: 100%;
    position: relative;
}
main>.two>.img2{
    position: absolute;
    width: 173.03px;
    height: 228.9px;
    margin-top: 26px;
}
main>.two>.three{
    position: absolute;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 272px;
    width: 998px;
}
main>.two>.four{
    position: absolute;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 432px;
    width: 852px;
}
main>.two>.btn1{
    position: absolute;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin-top: 516px;
    width: 244px;
    height: 65px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 45px;
}